amqp
annotated-doc
anyio
asgiref
better-profanity
billiard
boto3
botocore
celery
celery-types
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
cuda-bindings
cuda-pathfinder
cuda-toolkit
Django
django-cloudinary-storage
django-cors-headers
django-storages
djangorestframework
djangorestframework_simplejwt
filelock
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
Jinja2
jmespath
joblib
kombu
markdown-it-py
MarkupSafe
mdurl
mpmath
narwhals
networkx
numpy
packaging
pandas>=2.2
pillow
prompt_toolkit
psycopg2-binary
Pygments
PyJWT
python-dateutil
python-decouple
PyYAML
redis
regex
requests
rich
s3transfer
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
sqlparse
sympy
threadpoolctl
tokenizers
tqdm
transformers
triton
typer
typing_extensions
tzdata
tzlocal
urllib3
vine
wcwidth
